<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include header.html %}

    <!-- Banner -->
    <section id="banner" class="major">
        <div class="inner">
            <div class="row">
                <div class="6u 12u$(small)">
                    <header class="major">
                        <h1><span class="landing-title"></span></h1>
                    </header>
                    <div class="content">
                        <p><span class="landing-description"></span></p>
                    </div>
                    <div class="content">
                        {% include social.html %}
                        <ul class="actions">
                            <li><a href="#contact" class="button small scrolly">GET IN TOUCH</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="content img-content">
            <img src="assets/images/kyle-white.svg" alt=""/>
        </div>
    </section>

    <!-- Main -->
    <div id="main">

        {% include tiles.html %}

        <section id="two">
            <div class="inner">
                <div class="row">
                	<div class="4u 12u$(small)">
                		<ul class="actions vertical">
                            <li><a href="#" class="button special skills">Git</a></li>
                			<li><a href="#" class="button special skills">PHP</a></li>
                			<li><a href="#" class="button special skills">Laravel | Forge | Envoyer</a></li>
                			<li><a href="#" class="button special skills">WordPress</a></li>
                		</ul>
                	</div>
                    <div class="4u 12u$(small)">
                		<ul class="actions vertical">
                            <li><a href="#" class="button special skills">iOS App &amp; Game Development</a></li>
                            <li><a href="#" class="button special skills">Swift | Objective-C</a></li>
                			<li><a href="#" class="button special skills">Hybrid Mobile Development</a></li>
                            <li><a href="#" class="button special skills">Ionic | Fuse</a></li>
                		</ul>
                	</div>
                    <div class="4u 12u$(small)">
                		<ul class="actions vertical">
                            <li><a href="#" class="button special skills">JS | jQuery</a></li>
                            <li><a href="#" class="button special skills">CSS | Bootstrap</a></li>
                            <li><a href="#" class="button special skills">MySql</a></li>
                            <li><a href="#" class="button special skills">Web & App Deployment</a></li>
                		</ul>
                	</div>
                </div>
            </div>
        </section>

    </div>

    {% include footer.html %}

</body>

</html>
