<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include header.html %}

    <!-- Banner -->
    <section id="banner" class="major">
        <div class="inner">
            <div class="row">
                <div class="6u 12u$(small)">
                    <header class="major">
                        <h1><span class="landing-title"></span></h1>
                    </header>
                    <div class="content">
                        <p><span class="landing-description"></span></p>
                    </div>
                    <div class="content">
                        {% include social.html %}
                        <ul class="actions">
                            <li><a href="#contact" class="button small scrolly">GET IN TOUCH</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="content img-content">
            <img src="assets/images/kyle-white.svg" alt=""/>
        </div>
    </section>

    <!-- Main -->
    <div id="main">

        {% include tiles.html %}

        <section id="two">
            <div class="inner">
                <div class="row">
                    <div class="6u 12u$(medium)">
                        <pre><code>
let skills = getSkills()

for i in 0...skills.length {
    print("\(skills[i])")
}
                        </code></pre>
                    </div>
                    <div class="6u 12u$(small)">
                        <p>
                            PHP<br>
                            JS<br>
                            JQuery<br>
                            Laravel<br>
                            WordPress<br>
                            MySQL<br>
                            Git<br>
                            CSS/Bootstrap<br>
                            iOS Development - Swift | Objective-C | SpriteKit | Xcode<br>
                        </p>
                    </div>
                </div>
            </div>
        </section>

    </div>

    {% include footer.html %}

</body>

</html>
