<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include header.html %}

    <!-- Banner -->
    <section id="banner" class="major">
        <div class="inner">
            <div class="row">
                <div class="6u 12u$(small)">
                    <header class="major">
                        <h1><span class="landing-title"></span></h1>
                    </header>
                    <div class="content">
                        <p><span class="landing-description"></span></p>
                    </div>
                    <div class="content">
                        {% include social.html %}
                        <ul class="actions">
                            <li><a href="#contact" class="button small scrolly">GET IN TOUCH</a></li>
                        </ul>
                    </div>
                </div>
                <div class="6u 12u$(small)">
                    <div class="content">
                        <img src="assets/images/kyle-white.svg" alt="" style="max-height: 250px; margin: auto;"/>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Main -->
    <div id="main">


        <!-- Two -->
        <section id="two">
            <div class="inner">
                <div class="row">
                    <div class="6u 12u$(medium)">
                        <pre><code>

for i in 0...skills.length {
    echo skill[i];
}
                        </code></pre>
                    </div>
                    <div class="6u 12u$(small)">
                        <ul>
                			<li>PHP</li>
                			<li>Laravel</li>
                			<li>Custom WordPress</li>
                            <li>iOS Development (Objective-C | Swift | SpriteKit)</li>
                		</ul>
                    </div>
                </div>
            </div>
        </section>

        {% include tiles.html %}

    </div>

    {% include footer.html %}

</body>

</html>
