body{
    background-color: #4099FF;
}
#form{
    background-color: #FFFFFF;
    border-radius: 15px;
    width: 50%;
    margin-top: 10%;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    height: auto;
    max-height: 600px;
    overflow-x: hidden;
}
h2{
    text-align: center;
    padding-bottom: 10px;
}
#link1, #link2, #link3{
    text-align: center;
}
#submit1, #submit2, #submit3{
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    width: 100%;
}
#output{
    background-color: #FFFFFF;
    border-radius: 15px;
    width: 50%;
    margin-top: 1%;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}